<a href="https://colab.research.google.com/github/Priyanshu2835/DSA-/blob/main/PandasSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
a=pd.Series([1,2,3,4,5])
print(a)
print(a[2])

0    1
1    2
2    3
3    4
4    5
dtype: int64
3

In [ ]:
import pandas as pd
a=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'],dtype="float",name="Priyanshu")
print(a)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: Priyanshu, dtype: float64

In [ ]:
import pandas as pd
a={"Name ":['Priyanshu','Akash','Varun'],"Roll ":[1,2,3],"Marks ":[91,93,89]}
var=pd.Series(a);
print(var)

Name      [Priyanshu, Akash, Varun]
Roll                      [1, 2, 3]
Marks                  [91, 93, 89]
dtype: object

In [ ]:
import pandas as pd
p=pd.Series(12,index=['a','b','c','d','e'])
print(p)

a    12
b    12
c    12
d    12
e    12
dtype: int64

In [ ]:
import numpy as np
arr=np.array([1,2,3,4,5,6])
arr1=np.array([1,2,3,4,5,6])
print(arr+arr1)

[ 2  4  6  8 10 12]

In [ ]:
import pandas as pd
arr=pd.Series([1,2,3,4,5])
arr1=pd.Series([1,2,3,4])
print(arr+arr1)

0    2.0
1    4.0
2    6.0
3    8.0
4    NaN
dtype: float64